body {
  font-family: Arial, Helvetica, sans-serif;
}
/*added purple dots under jane doe */
h1 {
  color: hotpink;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-bottom: 10px dotted purple;
}


/*changed font to italic*/
h2 {
  font-size: 1.5em;
  font-style: italic;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  text-decoration: none;
}

ul{
	background-color:  #eeeeee;
	border: 5px solid purple;
	padding: 25px;
}

/* made so my link turns green when i hover*/


a:hover {
	color: green;
	text-decoration: none;
}