html {
  font-family: sans-serif;
}

/* Your CSS below here */

div{
	width: 200px;
	height: 100px;
	display: flex;
	align-items: center;
	text-align: center;
	margin: 50px auto;
	
	font-size: 1rem;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px black;
}